//main
$mainBg: #57bbe5;
//header
$mainHeaderBg:#57bbe5; 
$green: #60a345;
// $light-blue:#57bbe5;
// AdminLTE 3 Variables.less
// =========================

// COLORS
// --------------------------------------------------------
$blue: #0073b7 !default;
$navy: #001F3F !default;
$teal: #39CCCC !default;
$olive: #3D9970 !default;
$lime: #01FF70 !default;
$orange: #FF851B !default;
$fuchsia: #F012BE !default;
$purple: #605ca8 !default;
$maroon: #D81B60 !default;
$black: #111 !default;
$gray-x-light: #d2d6de !default;

 
 

 